<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="link::head_link"></head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:include="toubu::toubu_header"></div>
    <fieldset class="layui-elem-field layui-field-title">
        <legend>讨论区</legend>
    </fieldset>
    <div class="layui-body" style="margin-top: 50px;">
        <a href="/" >
            <fieldset class="layui-elem-field" style="margin-right: 100px">
                <legend>
                    <img src="/static/images/miao.jpeg" style="width:50px; height:50px; border-radius:50%;">
                    Kris1
                </legend>
                <div class="layui-row">
                    <div class="layui-field-box">
                        你可以在这里放任何内容，比如表单神马的
                    </div>
                    <div class="layui-field-box">
                        <div class="layui-col-md8">&nbsp;</div>
                        <div class="layui-col-md4">
                            <div class="layui-row">
                                <div class="layui-col-md6">时间：2019-01-11</div>
                                <div class="layui-col-md6">回复：210</div>
                            </div>
                        </div>
                    </div>
                </div>

            </fieldset>
        </a>
        <a href="/">
            <fieldset class="layui-elem-field" style="margin-right: 100px">
                <legend><img src="/static/images/eat.jpeg" style="width:50px; height:50px; border-radius:50%;">Kris1
                </legend>
                <div class="layui-row">
                    <div class="layui-field-box">
                        你可以在这里放任何内容，比如表单神马的
                    </div>
                    <div class="layui-field-box">
                        <div class="layui-col-md8">&nbsp;</div>
                        <div class="layui-col-md4">
                            <div class="layui-row">
                                <div class="layui-col-md6">时间：2019-01-11</div>
                                <div class="layui-col-md6">回复：210</div>
                            </div>
                        </div>
                    </div>
                </div>

            </fieldset>
        </a>
        <a href="/">
            <fieldset class="layui-elem-field" style="margin-right: 100px">
                <legend><img src="/static/images/play.jpeg" style="width:50px; height:50px; border-radius:50%;">Kris1
                </legend>
                <div class="layui-row">
                    <div class="layui-field-box">
                        你可以在这里放任何内容，比如表单神马的
                    </div>
                    <div class="layui-field-box">
                        <div class="layui-col-md8">&nbsp;</div>
                        <div class="layui-col-md4">
                            <div class="layui-row">
                                <div class="layui-col-md6">时间：2019-01-11</div>
                                <div class="layui-col-md6">回复：210</div>
                            </div>
                        </div>
                    </div>
                </div>

            </fieldset>
        </a>
        <a href="/">
            <fieldset class="layui-elem-field" style="margin-right: 100px">
                <legend><img src="/static/images/miao.jpeg" style="width:50px; height:50px; border-radius:50%;">Kris1
                </legend>
                <div class="layui-row">
                    <div class="layui-field-box">
                        你可以在这里放任何内容，比如表单神马的
                    </div>
                    <div class="layui-field-box">
                        <div class="layui-col-md8">&nbsp;</div>
                        <div class="layui-col-md4">
                            <div class="layui-row">
                                <div class="layui-col-md6">时间：2019-01-11</div>
                                <div class="layui-col-md6">回复：210</div>
                            </div>
                        </div>
                    </div>
                </div>

            </fieldset>
        </a>
        <a href="/">
            <fieldset class="layui-elem-field" style="margin-right: 100px">
                <legend><img src="/static/images/miao.jpeg" style="width:50px; height:50px; border-radius:50%;">Kris1
                </legend>
                <div class="layui-row">
                    <div class="layui-field-box">
                        你可以在这里放任何内容，比如表单神马的
                    </div>
                    <div class="layui-field-box">
                        <div class="layui-col-md8">&nbsp;</div>
                        <div class="layui-col-md4">
                            <div class="layui-row">
                                <div class="layui-col-md6">时间：2019-01-11</div>
                                <div class="layui-col-md6">回复：210</div>
                            </div>
                        </div>
                    </div>
                </div>

            </fieldset>
        </a>
        <a href="/">
            <fieldset class="layui-elem-field" style="margin-right: 100px">
                <legend><img src="/static/images/miao.jpeg" style="width:50px; height:50px; border-radius:50%;">Kris1
                </legend>
                <div class="layui-row">
                    <div class="layui-field-box">
                        你可以在这里放任何内容，比如表单神马的
                    </div>
                    <div class="layui-field-box">
                        <div class="layui-col-md8">&nbsp;</div>
                        <div class="layui-col-md4">
                            <div class="layui-row">
                                <div class="layui-col-md6">时间：2019-01-11</div>
                                <div class="layui-col-md6">回复：210</div>
                            </div>
                        </div>
                    </div>
                </div>

            </fieldset>
        </a>
        <a href="/">
            <fieldset class="layui-elem-field" style="margin-right: 100px">
                <legend><img src="/static/images/miao.jpeg" style="width:50px; height:50px; border-radius:50%;">Kris1
                </legend>
                <div class="layui-row">
                    <div class="layui-field-box">
                        你可以在这里放任何内容，比如表单神马的
                    </div>
                    <div class="layui-field-box">
                        <div class="layui-col-md8">&nbsp;</div>
                        <div class="layui-col-md4">
                            <div class="layui-row">
                                <div class="layui-col-md6">时间：2019-01-11</div>
                                <div class="layui-col-md6">回复：210</div>
                            </div>
                        </div>
                    </div>
                </div>

            </fieldset>
        </a>
        <a href="/">
            <fieldset class="layui-elem-field" style="margin-right: 100px">
                <legend><img src="/static/images/miao.jpeg" style="width:50px; height:50px; border-radius:50%;">Kris1
                </legend>
                <div class="layui-row">
                    <div class="layui-field-box">
                        你可以在这里放任何内容，比如表单神马的
                    </div>
                    <div class="layui-field-box">
                        <div class="layui-col-md8">&nbsp;</div>
                        <div class="layui-col-md4">
                            <div class="layui-row">
                                <div class="layui-col-md6">时间：2019-01-11</div>
                                <div class="layui-col-md6">回复：210</div>
                            </div>
                        </div>
                    </div>
                </div>

            </fieldset>
        </a>
        <a href="/">
            <fieldset class="layui-elem-field" style="margin-right: 100px">
                <legend><img src="/static/images/miao.jpeg" style="width:50px; height:50px; border-radius:50%;">Kris1
                </legend>
                <div class="layui-row">
                    <div class="layui-field-box">
                        你可以在这里放任何内容，比如表单神马的
                    </div>
                    <div class="layui-field-box">
                        <div class="layui-col-md8">&nbsp;</div>
                        <div class="layui-col-md4">
                            <div class="layui-row">
                                <div class="layui-col-md6">时间：2019-01-11</div>
                                <div class="layui-col-md6">回复：210</div>
                            </div>
                        </div>
                    </div>
                </div>

            </fieldset>
        </a>
        <a href="/">
            <fieldset class="layui-elem-field" style="margin-right: 100px">
                <legend><img src="/static/images/miao.jpeg" style="width:50px; height:50px; border-radius:50%;">Last1
                </legend>
                <div class="layui-row">
                    <div class="layui-field-box">
                        你可以在这里放任何内容，比如表单神马的
                    </div>
                    <div class="layui-field-box">
                        <div class="layui-col-md8">&nbsp;</div>
                        <div class="layui-col-md4">
                            <div class="layui-row">
                                <div class="layui-col-md6">时间：2019-01-11</div>
                                <div class="layui-col-md6">回复：210</div>
                            </div>
                        </div>
                    </div>
                </div>

            </fieldset>
        </a>
    </div>

    <script src="/static/layui/layui.js"></script>
    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;

        });

        layui.use(['util', 'layer'], function () {
            var util = layui.util;
            //固定块
            util.fixbar({
                bar1: true
                , css: {right: 50, top: 90}
                , bgcolor: '#009688'
                , click: function (type) {
                    if (type === 'bar1') {
                        layer.alert("静下心来发帖吧~")
                    }
                }
            });
        });
    </script>
</div>
</body>
</html>
