<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Orion</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/static/images/miao.jpeg" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/X-admin/css/font.css">
<!--    <link rel="stylesheet" href="/static/X-admin/css/xadmin.css">-->
    <script src="/static/X-admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/X-admin/js/xadmin.js"></script>
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:include="toubu::toubu_header"></div>
    <fieldset class="layui-elem-field layui-field-title">
        <legend>讨论区</legend>
    </fieldset>
    <!--    <div align="right">-->
    <!--        <button class="layui-btn layui-btn-lg">-->
    <!--            <i class="layui-icon">&#xe642;</i>-->
    <!--        </button>-->
    <!--    </div>-->

    <div class="layui-body" style="margin-top: 50px;">
        <div class="layui-col-md11">
            <div th:each="discuss: ${disscussvolist}">
                <a th:href="@{/discuss/{topicid}(topicid=${discuss.id})}">
                    <fieldset class="layui-elem-field" style="margin-right: 100px">
                        <legend>
                            <img th:src="@{http://114.115.132.189:8080/phoenix/getPhotoById/{id}(id=${discuss.imageId})}" style="width:50px; height:50px; border-radius:50%;">
                            <span th:text="${discuss.username}"></span>
                        </legend>
                        <div class="layui-row">
                            <div class="layui-field-box">
                                <p th:text="${discuss.theme}"></p>
                            </div>
                            <div class="layui-field-box">
                                <div class="layui-col-md8">&nbsp;</div>
                                <div class="layui-col-md4">
                                    <div class="layui-row">
                                        <div class="layui-col-md6"><span>时间：</span><span th:text="${discuss.insertTime}"></span></div>
                                        <div class="layui-col-md6">回复人数：<span th:text="${discuss.replyNum}"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </a>
            </div>
        </div>
        <div class="layui-col-md1">
            <div class="layui-card-header" align="right">
                <button class="layui-btn layui-btn-lg" onclick="xadmin.open('发布主帖','/templates/topic-add.html',800,600)">
                    <i class="layui-icon">&#xe642;</i></button>
            </div>
        </div>
        <div class="layui-row test">
            <div id="demo3"></div>
        </div>
    </div>

    <script src="/static/layui/layui.js"></script>
    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;

        });
        layui.use(['laypage', 'layer', 'jquery'], function () {
            var laypage = layui.laypage
                , $ = layui.$ //重点处
                , layer = layui.layer;
            var count = 0;
            $.get({
                async: false,
                url: "/discuss/count",
                success: function (resp) {
                    count = resp;
                    console.log(count)
                    console.log(resp)
                },
                error: function (err) {
                    console.log("wuwu")
                    console.log(err);
                }
            });

            //获取url中的参数
            function getUrlParam(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
                var r = window.location.search.substr(1).match(reg);  //匹配目标参数
                if (r != null) return unescape(r[2]);
                return null; //返回参数值
            }

            //自定义每页条数的选择项
            laypage.render({
                elem: 'demo3'
                , count: count
                , first: '首页'
                , last: '尾页'
                , prev: '<em>←</em>'
                , next: '<em>→</em>'
                , limit: 10
                , curr: getUrlParam("page")
                , jump: function (obj, first) {
                    // window.location.href = '/questions/list?page=' + obj.curr + '&pageSize=' + obj.limit

                    //首次不执行
                    if (!first) {
                        window.location.href = '/discuss/list?page=' + obj.curr + '&pageSize=' + obj.limit
                    }
                    console.log('obj=' + obj.curr)
                    console.log('obj=' + obj.limit)
                }
            });
        });
    </script>
</div>
</body>
</html>
