<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="link::head_link"></head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:include="toubu::toubu_header"></div>
    <fieldset class="layui-elem-field layui-field-title">
        <legend>讨论区</legend>
    </fieldset>
    <div class="layui-body" style="margin-top: 50px;">
        <div th:each="discuss: ${disscussvolist}">
            <a th:href="@{/discuss/{topicid}(topicid=${discuss.id})}">
                <fieldset class="layui-elem-field" style="margin-right: 100px">
                    <legend>
                        <img src="/static/images/miao.jpeg" style="width:50px; height:50px; border-radius:50%;">
                        <span th:text="${discuss.username}"></span>
                    </legend>
                    <div class="layui-row">
                        <div class="layui-field-box">
                            <p th:text="${discuss.theme}"></p>
                        </div>
                        <div class="layui-field-box">
                            <div class="layui-col-md8">&nbsp;</div>
                            <div class="layui-col-md4">
                                <div class="layui-row">
                                    <div class="layui-col-md6"><span th:text="${discuss.insertTime}"></span></div>
                                    <div class="layui-col-md6">回复：<span th:text="${discuss.replyNum}"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </fieldset>
            </a>
        </div>
    </div>

    <script src="/static/layui/layui.js"></script>
    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;

        });

        layui.use(['util', 'layer'], function () {
            var util = layui.util;
            //固定块
            util.fixbar({
                bar1: true
                , css: {right: 50, top: 90}
                , bgcolor: '#009688'
                , click: function (type) {
                    if (type === 'bar1') {
                        layer.alert("静下心来发帖吧~")
                    }
                }
            });
        });
    </script>
</div>
</body>
</html>
