<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Orion</title>
    <link rel="icon" href="/static/images/miao.jpeg" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">Orion 在线学习系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/questions/list">题库</a></li>
            <li class="layui-nav-item"><a href="/questions/ranking">排行榜</a></li>
            <li class="layui-nav-item"><a href="/discuss">讨论区</a></li>
            <li class="layui-nav-item"><a href="">学习专栏</a></li>
            <li class="layui-nav-item"><a href="/templates/video.html">视频课程</a></li>
            <li class="layui-nav-item"><a href="/questions/upload">上传题目</a></li>
            <li class="layui-nav-item"><a href="">企业合作</a></li>
            <!--            <li class="layui-nav-item">-->
            <!--                <a href="javascript:;">发现</a>-->
            <!--                <dl class="layui-nav-child">-->
            <!--                    <dd><a href="">身份认证</a></dd>-->
            <!--                    <dd><a href="">企业合作</a></dd>-->
            <!--                </dl>-->
            <!--            </li>-->
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="/static/images/miao.jpeg" class="layui-nav-img">
                    <!--                    <a href="login.html">登录</a>-->
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">注销</a></li>
        </ul>
    </div>
</div>
<script src="/static/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
</script>
</body>
</html>
