<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
<!--    <title>Orion</title>-->
<!--    <link rel="icon" href="/static/images/miao.jpeg" type="image/x-icon"/>-->
<!--    <link rel="stylesheet" href="/static/layui/css/layui.css">-->
<!--</head>-->
<head th:include="link::head_link"></head>
<body class="layui-layout-body">
<div th:include="toubu::toubu_header"></div>
<div class="layui-layout layui-layout-admin">
    <div class="layui-body">
        <div style="margin-right: 100px; background-color: #F2F2F2;">
            <div class="layui-carousel" id="test1">
                <div carousel-item>
                    <div><img src="/static/images/eat1.png"></div>
                    <div><img src="/static/images/play1.png"></div>
                    <div><img src="/static/images/miao1.png"></div>
                </div>
            </div>

            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">题库</div>
                        <div class="layui-card-body">
                            内容
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">标题2</div>
                        <div class="layui-card-body">
                            内容2
                        </div>
                    </div>
                </div>
            </div>
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
                <p>sdfsdfsdfas</p>
            </div>
        </div>
    </div>
<!--    <div class="layui-footer">-->
<!--        &lt;!&ndash; 底部固定区域 &ndash;&gt;-->
<!--        © layui.com - 底部固定区域-->
<!--    </div>-->
</div>
<script src="/static/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            , width: '100%' //设置容器宽度
            , height: '300px'
            , arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式
            // ,full:true
            // ,autoplay:true
        });
    });
</script>
</body>
</html>
