<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="link::head_link"></head>

<body class="layui-layout-body">
<div th:include="toubu::toubu_header"></div>
<div class="layui-layout layui-layout-admin">
    <div style="margin-top: 10px;">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-lg">数据库</button>
            <button class="layui-btn layui-btn-lg">算法</button>
            <button class="layui-btn layui-btn-lg">框架</button>
            <button class="layui-btn layui-btn-lg">操作系统</button>
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>题库</legend>
    </fieldset>
    <div class="layui-body" style="margin-top: 130px;">
        <div style="margin-right: 100px">
            <table class="layui-table" lay-skin="line">
                <colgroup>
                    <col width="150">
                    <col width="450">
                    <col width="200">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>题号</th>
                    <th>题目</th>
                    <th>类别</th>
                    <th>难度</th>
                    <th>通过</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>数据库范式有几大范式？</td>
                    <td>数据库</td>
                    <td>简单</td>
                    <td>已通过</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>两数之和</td>
                    <td>算法</td>
                    <td>简单</td>
                    <td>已通过</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Spring的事务问题</td>
                    <td>框架</td>
                    <td>中等</td>
                    <td>已通过</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>LRU算法</td>
                    <td>操作系统</td>
                    <td>困难</td>
                    <td>未通过</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>下列哪个不是键值型数据库</td>
                    <td>数据库</td>
                    <td>简单</td>
                    <td>已通过</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>下列哪个不是键值型数据库</td>
                    <td>数据库</td>
                    <td>简单</td>
                    <td>已通过</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>下列哪个不是键值型数据库</td>
                    <td>数据库</td>
                    <td>简单</td>
                    <td>已通过</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>下列哪个不是键值型数据库</td>
                    <td>数据库</td>
                    <td>简单</td>
                    <td>已通过</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>下列哪个不是键值型数据库</td>
                    <td>数据库</td>
                    <td>简单</td>
                    <td>已通过</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>下列哪个不是键值型数据库</td>
                    <td>数据库</td>
                    <td>简单</td>
                    <td>已通过</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>下列哪个不是键值型数据库</td>
                    <td>数据库</td>
                    <td>简单</td>
                    <td>已通过</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>下列哪个不是键值型数据库</td>
                    <td>数据库</td>
                    <td>简单</td>
                    <td>已通过</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>下列哪个不是键值型数据库</td>
                    <td>数据库</td>
                    <td>简单</td>
                    <td>已通过</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>下列哪个不是键值型数据库</td>
                    <td>数据库</td>
                    <td>简单</td>
                    <td>已通过</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>下列哪个不是键值型数据库</td>
                    <td>数据库</td>
                    <td>简单</td>
                    <td>已通过</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>下列哪个不是键值型数据库</td>
                    <td>数据库</td>
                    <td>简单</td>
                    <td>已通过</td>
                </tr>
                </tbody>
            </table>
            <div id="demo11"></div>
        </div>
    </div>
</div>

<script src="/static/layui/layui.js" charset="utf-8"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
    layui.use(['laypage', 'layer'], function () {
        var laypage = layui.laypage
            , layer = layui.layer;
        //自定义每页条数的选择项
        laypage.render({
            elem: 'demo11'
            , count: 1000
            , limit: 100
            , limits: [100, 300, 500]
        });
    });
</script>
</body>

</html>