<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="link::head_link"></head>

<body class="layui-layout-body">
<div th:include="toubu::toubu_header"></div>
<div class="layui-layout layui-layout-admin">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>排行榜</legend>
    </fieldset>
    <div class="layui-body" style="margin-top: 50px;">
        <div style="margin-right: 100px">
            <table class="layui-table" lay-even="" lay-skin="nob">
                <colgroup>
                    <col width="200">
                    <col width="200">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>排名</th>
                    <th>用户</th>
                    <th>AC题数</th>
                    <th>来到Orion天数</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="rank:${ranklist}">
                    <td th:text="${rankStat.index+1}"></td>
                    <td th:text="${rank.userName}"></td>
                    <td th:text="${rank.acTotal}"></td>
                    <td th:text="${rank.registerDays}"></td>
                </tr>
                </tbody>
            </table>
            <div id="demo11"></div>
        </div>
    </div>
</div>

<script src="/static/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
    layui.use(['laypage', 'layer'], function () {
        var laypage = layui.laypage
            , layer = layui.layer;
        //自定义每页条数的选择项
        laypage.render({
            elem: 'demo11'
            , count: 1000
            , limit: 100
            , limits: [100, 300, 500]
        });
    });
</script>
</body>
</html>
