<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="link::head_link"></head>

<body class="layui-layout-body">
<div th:include="toubu::toubu_header"></div>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
    <legend>排行榜</legend>
</fieldset>

<table class="layui-table" lay-even="" lay-skin="nob">
    <colgroup>
        <col width="200">
        <col width="200">
        <col width="200">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th>排名</th>
        <th>用户</th>
        <th>通过数</th>
        <th>来到Orion天数</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>贤心</td>
        <td>3100</td>
        <td>720</td>
    </tr>
    <tr>
        <td>2</td>
        <td>张爱玲</td>
        <td>2900</td>
        <td>735</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Helen Keller</td>
        <td>2787</td>
        <td>640</td>
    </tr>
    <tr>
        <td>4</td>
        <td>岳飞</td>
        <td>1500</td>
        <td>320</td>
    </tr>
    <tr>
        <td>5</td>
        <td>孟子</td>
        <td>1300</td>
        <td>470</td>
    </tr>
    </tbody>
</table>

<script src="/static/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
</script>
</body>
</html>
