<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="link::head_link"></head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:include="toubu::toubu_header"></div>
    <fieldset class="layui-elem-field layui-field-title">
        <legend>学习专栏</legend>
    </fieldset>
    <div class="layui-body" style="margin-top: 50px;">
        <div class="layui-col-md11">
            <div th:each="course:${courseList}">
                <a th:href="@{/study/course/{id}(id=${course.id})}">
                    <div class="layui-row">
                        <div class="layui-field-box">
                            <div class="layui-col-md2"><img class="krisimage" src="/static/images/study1.jpg"/></div>
                            <div class="layui-col-md10">
                                <div class="layui-row" style="font-size:22px" th:text="${course.courseName}"></div><br/>
                                <div class="layui-row">
                                    <span style="font-weight:bold;">主讲人简介:&nbsp;</span>
                                    <span th:text="${course.teacherName}"></span>
                                    <span th:text="${course.teacherDesc}"></span>
                                </div><br/>
                                <div class="layui-row">
                                    <span style="font-weight:bold;">课程简述:&nbsp;</span>
                                    <span th:text="${course.courseDesc}"></span></div>
                            </div>
                        </div>
                    </div>
                </a>
                <hr>
            </div>
        </div>
    </div>

    <script src="/static/layui/layui.js"></script>
    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;

        });
    </script>
</div>
<script src="/static/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
</script>
</body>
</html>
