<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="link::head_link"></head>
<div th:fragment="toubu_header">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">Orion 在线学习系统</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="/">首页</a></li>
                <li class="layui-nav-item"><a href="/questions/list?page=1&pageSize=10">题库</a></li>
                <li class="layui-nav-item"><a href="/questions/ranking">排行榜</a></li>
                <li class="layui-nav-item"><a href="/discuss/list?page=1&pageSize=10">讨论区</a></li>
                <li class="layui-nav-item"><a href="/study/list">学习专栏</a></li>
                <!--                <li class="layui-nav-item"><a href="/video">视频课程</a></li>-->
                <li class="layui-nav-item"><a href="/questions/upload/detail">上传题目</a></li>
                <!--                                <li class="layui-nav-item"><a href="">企业合作</a></li>-->
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img th:src="@{http://114.115.132.189:8080/phoenix/getPhotoById/{id}(id=${uuu.imageId})}"
                             th:if="${uuu}"
                             style="width:50px; height:50px; border-radius:50%;">
                        <i class="layui-icon" th:if="${uuu ==null}"
                           style="font-size: 30px;margin-right: 10px">&#xe66f;</i>
                        <!--                    <a href="login.html">登录</a>-->
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="/user/reg">注册</a></dd>
                        <dd><a href="/user/loginto">登录</a></dd>
                        <dd><a href="/user/logout">注销</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
</div>
</html>